$enable-flex: true;



// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.hidden {
  display: none;
}

body > .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: center;
}

.container > .container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.registration-page .container > .container {
  flex-direction: column;
}

.pg-list-page .container > .container {
  display: block;
  font-size: 0.9rem;
}

.registration-page .card {
  align-self: stretch;
}

.card {
  margin-bottom: 20px;
}
/*
.card:first-child {
  margin-top: 20px;
}*/

.footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.fx-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.fx-col-2 {
  width: 49%;
}

.move-item-horizontal {
  display: initial;
}

.move-item-vertical {
  display: none;
}
.move-item-vertical > button {
  margin: 20px 0;
}

.xs-centered-block {
  margin: 0;
}

#loginCard {
  flex: .5;
}

.popover .popover-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

ul.list-select {
  height: 105px;
  list-style: none;
  overflow: auto;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

ul.list-select li {
  padding-bottom: 2px;
}

ul.list-select li:hover {
  background-color: rgba(0,0,0,0.05);
}

ul.list-select li.selected,
ul.list-select li.selected:hover {
  background-color: theme-color("primary");
  color: white;
}

@media (max-width: 576px) {
  .fx-row {
    flex-direction: column;
  }

  .fx-col-2 {
    width: 100%;
  }

  .move-item-horizontal {
    display: none;
  }

  .move-item-vertical {
    display: initial;
  }

  .xs-centered-block {
    margin: 0 auto;
  }
}

@include media-breakpoint-up(xs) {
  #loginCard {
    flex: 1;
  }
}

@include media-breakpoint-up(sm) {
  #loginCard {
    flex: 1;
  }
}

@include media-breakpoint-up(md) {
  #loginCard {
    flex: .8;
  }
}

@include media-breakpoint-up(lg) {
  #loginCard {
    flex: .6;
  }
}

@include media-breakpoint-up(xl) {
  #loginCard {
    flex: .5;
  }
}

.data-showed, .data-edit {
	position:relative;
}

.data-showed > .fa-pencil,
.data-edit > .fa-check {
  display: inline-block;
  position: absolute;
  right: 0;
}

.data-showed > .fa-pencil {
  opacity: 0;
  pointer-events: none;
}

.data-showed:hover > .fa-pencil {
  opacity: 1;
  pointer-events: all;
}

