.list-select > li {
  user-select: none;
}

.list-select > li[data-gia_selezionato='true'] {
  background-color: #449d44;
  color: white;
  pointer-events: none;
}

.popover .popover-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

ul.list-select {
  height: 180px;
  list-style: none;
  overflow: auto;
  display: block;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #495057;
  background: #fff none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

ul.list-select li {
  padding-bottom: 2px;
}

ul.list-select li:hover {
  background-color: rgba(0,0,0,0.05);
}

ul.list-select li.selected,
ul.list-select li.selected:hover {
  background-color: #3c8dbc;
  color: white;
}