{% extends "./templates/main_template.html" %}
{% set titolo_sezione = "Banca" %}
{% set section = "banca" %}
{% block mainContent %}
{{ super() }}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="box-saldo">
                            <h5>Saldo Totale</h5>
                            <h3 class="saldo">200 Bit</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-saldo box-verde">
                            <h5>Entrate Anno Corrente</h5>
                            <h3 class="saldo">200 Bit</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-saldo box-rosso">
                            <h5>Uscite Anno Corrente</h5>
                            <h3 class="saldo">200 Bit</h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button id="login" type="button" class="btn btn-primary submit-btn">
                            <i class="fa fa-money"></i>
                            <br>Effettua Bonifico
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box-saldo">
            <table id="movimenti" class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Importo</th>
                    <th>Autore</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="label bg-green">Entrata</span></td>
                    <td>25 Apr. 271</td>
                    <td>Accredito lavorazione conto terzi</td>
                    <td><span class="text-green">200</span></td>
                    <td>Ciccio</td>
                </tr>
                <tr>
                    <td><span class="label bg-red">Uscita</span></td>
                    <td>25 Apr. 271</td>
                    <td>Accredito lavorazione conto terzi</td>
                    <td><span class="text-red">- 200</span></td>
                    <td>Ciccio</td>
                </tr>
                <tr>
                    <td><span class="label bg-green">Entrata</span></td>
                    <td>25 Apr. 271</td>
                    <td>Accredito lavorazione conto terzi</td>
                    <td><span class="text-green">200</span></td>
                    <td>Ciccio</td>
                </tr>
                <tr>
                    <td><span class="label bg-green">Entrata</span></td>
                    <td>25 Apr. 271</td>
                    <td>Accredito lavorazione conto terzi</td>
                    <td><span class="text-green">200</span></td>
                    <td>Ciccio</td>
                </tr>
                <tr>
                    <td><span class="label bg-green">Entrata</span></td>
                    <td>25 Apr. 271</td>
                    <td>Accredito lavorazione conto terzi</td>
                    <td><span class="text-green">200</span></td>
                    <td>Ciccio</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <!-- # qui metterei il grefico -->
    </div>
</div>

{% endblock %}


{% block managers %}
{{ super() }}
<script src="scripts/controllers/BankManager.js"></script>
{% endblock %}