{% extends "./templates/main_template.html" %}
{% set titolo_sezione = "Banca" %}
{% set section = "banca" %}
{% block mainContent %}
{{ super() }}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="box-saldo" id="totale">
                            <h5>Saldo Totale</h5>
                            <h3 class="saldo">XXXX <i class="fa fa-eye"></i></h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-saldo box-verde" id="entrate_corrente">
                            <h5>Entrate Anno Corrente</h5>
                            <h3 class="saldo">XXXX <i class="fa fa-eye"></i></h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-saldo box-rosso" id="uscite_corrente">
                            <h5>Uscite Anno Corrente</h5>
                            <h3 class="saldo">XXXX <i class="fa fa-eye"></i></h3>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button id="login" type="button" class="btn btn-primary submit-btn">
                            <i class="fa fa-money"></i>
                            <br>Effettua Bonifico
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <span class="sgc-info2">SGC</span> LISTA MOVIMENTI</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table id="movimenti" class="table" width="100%"></table>
            </div>
        </div>
    </div>
    <!--<div class="col-md-6">
        &lt;!&ndash; # qui metterei il grefico &ndash;&gt;
    </div>-->
</div>

{% endblock %}


{% block managers %}
{{ super() }}
<script src="scripts/controllers/BankManager.js"></script>
{% endblock %}