{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " crafting-prog-page" %}
{% set section = "craftingprog" %}
{% set add_wrapper = false %}
{% set titolo_sezione = "Crafting di Applicativi"  %}
{% set descrizione_sezione = ""  %}

{% block styles %}
<link rel="stylesheet" href="../node_modules/jquery.terminal/css/jquery.terminal.css"/>
<link rel="stylesheet" href="styles/crafting_netrunner.css"/>
{% endblock %}
1
{% block mainContent %}
{{ super() }}
<div id="terminal"></div>
<div class="scanlines"></div>
{% endblock %}

{% block managers %}
{{ super() }}
<script src="scripts/utils/keyboard.js"></script>
<script src="../node_modules/jquery.terminal/js/jquery.terminal.js"></script>
<script src="scripts/utils/Testi.js"></script>
<script src="scripts/controllers/CraftingSoftwareManager.js"></script>
{% endblock %}