{% extends "./templates/main_template.html" %}
{% set body_classes= "hold-transition skin-black fixed sidebar-mini crea-pg-page" %}
{% set section = "creapg" %}
{% block mainContent %}
{{ super() }}
    <!--------------------------
      | Your Page Content Here |
      -------------------------->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Inserisci i dati del tuo personaggio</h3>
        </div>
        <div class="box-body">
            <p id="test"></p>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon6"><span class="fa fa-user"
                                                                        aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Nome Personaggio"
                       aria-label="CharacterName" aria-describedby="basic-addon6"/>
            </div>
            <br/>

            <div class="form-group">
                <h4>Scegli una Classe Civile</h4>
                <div class="row">
                    <div class="col-sm-11">
                        <select class="form-control" id="classeCivileSelect">
                            <option value="-1">Scegli una Classe...</option>
                        </select>
                    </div>
                    <div class="col-sm-1 text-center">
                        <a href="crea_pg.html" class="btn btn-primary" data-toggle="tooltip" title="Compra un'altra Classe Civile">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4>Scegli le abilità per la Classe Civile</h4>
                <p>Punti Esperienza disponibili: <span id="puntiEsperienza" class="badge badge-success">10</span></p>
                <p>Se non vedi un'abilit&agrave; nella lista vuol dire che non hai selezionato ancora i prerequisiti.</p>
                <div class="row">
                    <div class="col-sm-5">
                        <ul class="list-select" id="listaAbilitaCivili">
                        </ul>
                    </div>
                    <div class="col-sm-2 text-center">
                        <div class="move-item-horizontal">
                            <button class="btn btn-primary compra-abilita-civile-btn">&gt;&gt;</button>
                            <br/><br/>
                            <button class="btn btn-primary butta-abilita-civile-btn">&lt;&lt;</button>
                        </div>
                        <div class="move-item-vertical">
                            <button class="btn btn-primary compra-abilita-civile-btn"><span
                                    class="fa fa-chevron-down" aria-hidden="true"></span></button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary butta-abilita-civile-btn"><span
                                    class="fa fa-chevron-up" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="list-select" id="listaAbilitaCiviliAcquistate">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4>Scegli due Classi Militari</h4>
                <div class="row">
                    <div class="col-sm-11">
                        <select class="form-control" id="classeMilitareSelect">
                            <option value="-1">Scegli una Classe...</option>
                        </select>
                    </div>
                    <div class="col-sm-1 text-center">
                        <a href="crea_pg.html" class="btn btn-primary" data-toggle="tooltip" title="Compra un'altra Classe Militare">
                        <i class="fa fa-plus"></i>
                    </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4>Scegli le abilità per le Classi Militari</h4>
                <p>Punti Combattimento disponibili: <span id="puntiCombattimento" class="badge badge-success">10</span></p>
                <p>Se non vedi un'abilit&agrave; nella lista vuol dire che non hai selezionato ancora i prerequisiti.</p>
                <div class="row">
                    <div class="col-sm-5">
                        <ul class="list-select" id="listaAbilitaMilitari">
                        </ul>
                    </div>
                    <div class="col-sm-2 text-center">
                        <div class="move-item-horizontal">
                            <button class="btn btn-primary compra-abilita-militare-btn">&gt;&gt;</button>
                            <br/><br/>
                            <button class="btn btn-primary butta-abilita-militare-btn">&lt;&lt;</button>
                        </div>
                        <div class="move-item-vertical">
                            <button class="btn btn-primary compra-abilita-militare-btn"><span
                                    class="fa fa-chevron-down" aria-hidden="true"></span></button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary butta-abilita-militare-btn"><span
                                    class="fa fa-chevron-up" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="list-select" id="listaAbilitaMilitariAcquistate"></ul>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Invia Dati</a>

        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/PgCreationManager.js"></script>
{% endblock %}