{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " crea-pg-page" %}
{% set section = "creapg" %}
{% set titolo_sezione = "Creazione nuovo personaggio"  %}
{% set descrizione_sezione = "Compila i campi con i dati del tuo nuovo personaggio."  %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="styles/multiselector.css"/>
{% endblock %}
{% block mainContent %}
{{ super() }}
<!--------------------------
  | Your Page Content Here |
  -------------------------->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Anagrafica personaggio</h3>
    </div>
    <div class="box-body">
        <div class="input-group">
                <span class="input-group-addon" id="basic-addon6"><span class="fa fa-user"
                                                                        aria-hidden="true"></span></span>
            <input type="text" id="nomePG" name="nome_pg" class="form-control" placeholder="Nome Personaggio"
                   aria-label="CharacterName" aria-describedby="basic-addon6"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Professione personaggio</h3>
            </div>
            <div class="box-body">
                <div class="form-group" id="contenitoreClassiCivili">
                    <h4>Scegli una o più Classi Civili</h4>

                    <p>Punti Esperienza disponibili: <span id="puntiEsperienza" class="badge badge-success">0</span></p>

                    <ul class="list-select" id="listaClassiCivili">
                    </ul>

                </div>
                <div class="form-group">
                    <h4>Scegli le abilità per la Classe Civile</h4>

                    <p>Se &egrave; grigia vuol dire che non hai selezionato ancora i prerequisiti.</p>

                    <ul class="list-select" id="listaAbilitaCivili">
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Classe personaggio</h3>
            </div>
            <div class="box-body">
                <div class="form-group" id="contenitoreClassiMilitari">
                    <h4>Scegli una o due Classi Militari</h4>

                    <p>Punti Combattimento disponibili: <span id="puntiCombattimento"
                                                              class="badge badge-success">0</span></p>

                    <ul class="list-select" id="listaClassiMilitari">
                    </ul>
                </div>
                <div class="form-group">
                    <h4>Scegli le abilità per le Classi Militari</h4>

                    <p>Se &egrave; grigia vuol dire che non hai selezionato ancora i prerequisiti.</p>
                    <ul class="list-select" id="listaAbilitaMilitari">
                    </ul>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<button id="inviaDati" class="btn btn-success pull-center">Invia Dati</button>
{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/models/MultiSelector.js"></script>
<script src="scripts/models/Contatore.js"></script>
<script src="scripts/controllers/PgCreationManager.js"></script>
{% endblock %}