{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " gestione-oggetti-page" %}
{% set section = "gestioneoggetti" %}
{% set titolo_sezione = "Gestore degli Oggetti In Gioco"  %}
{% set descrizione_sezione = "Qui potrai inserire, modificare e stampare gli oggetti in gioco."  %}
{% block mainContent %}
{{ super() }}
<!--------------------------
  | Your Page Content Here |
  -------------------------->


{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/InGameObjectsManager.js"></script>
{% endblock %}