{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " gestione-giocatori-page" %}
{% set section = "gestionegiocatori" %}
{% set titolo_sezione = "Gestione Giocatori"  %}
{% set descrizione_sezione = ""  %}
{% block mainContent %}
{{ super() }}
<!--------------------------
  | Your Page Content Here |
  -------------------------->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Lista Giocatori</h3>
    </div>
    <div class="box-body table-responsive">
        <form autocomplete="off" aria-autocomplete="none">
        <table id="groglia_giocatori" class="table table-condensed table-hover table-striped table-bordered" width="100%">
            <thead>
            <tr>
                <th>Email</th>
                <th>Nome Giocatore</th>
                <th>Data Iscrizione</th>
                <th>Ruolo</th>
                <th>Note Giocatore</th>
                <th>Note Staff</th>
                <th>Azioni</th>
            </tr>
            </thead>
        </table>
        </form>
    </div>
</div>
{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/PlayersManager.js"></script>
{% endblock %}