{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " gestione-permessi-page" %}
{% set section = "gestionepermessi" %}
{% set titolo_sezione = "Gestore dei Ruoli e dei Permessi degli Utenti"  %}
{% set descrizione_sezione = "Qui potrai inserire e modificare ruoli e i permessi associati ad essi."  %}
{% block mainContent %}
{{ super() }}

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Lista di Ruoli</h3>
  </div>
  <div class="box-body">
    </div>
  <div class="box-footer">
  </div>
</div>


{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/GrantsManager.js"></script>
{% endblock %}
