{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " gestione-eventi-page" %}
{% set section = "gestioneventi" %}
{% set titolo_sezione = "Eventi Live"  %}
{% set descrizione_sezione = "Qui troverai tutte le informazioni sul prossimo evento."  %}
{% block mainContent %}
{{ super() }}

<div class="box box-primary" id="event_info_box">
    <div class="box-header with-border">
        <h3 class="box-title">Informazioni sul prossimo evento</h3>
    </div>
    <div class="box-body">
    <!-- Countdown evento -->
    <!-- Google Maps -->
    </div>
    <div class="box-footer">
        <button id="iscrivi_pg" class="btn btn-success submit-btn">Iscrivi un tuo personaggio</button>
    </div>
</div>

<div class="box box-primary" id="partecipanti_evento">
    <div class="box-header with-border">
        <h3 class="box-title">Partecipanti al prossimo evento</h3>
    </div>
    <div class="box-body table-responsive">
        <div class="btn-group pull-center out-of-box">
            <button type="button"
                    class="btn btn-info inizialmente-nascosto modificaPG_pc_personaggio"
                    id="btn_modificaPG_px_personaggio"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Assegna punti ai pg iscritti all'ultimo evento"><i class="fa fa-edit"></i><br>Assegna Punti</button>
            <!--<button type="button"-->
                <!--class="btn btn-info inizialmente-nascosto stampaCartelliniPG"-->
                <!--id="btn_stampaCartelliniPG"-->
                <!--data-toggle="tooltip"-->
                <!--data-placement="bottom"-->
                <!--title="Stampa cartellini dei pg filtrati nella tabella sotto"><i class="fa fa-print"></i><br>Stampa Cartellini</button>-->
        </div>
        <form autocomplete="off" aria-autocomplete="none">
            <table id="tabella_partecipanti" class="table table-condensed table-hover table-striped table-bordered" width="100%">
                <thead>
                <tr>
                    <th>ID PG</th>
                    <th class="inizialmente-nascosto mostraPersonaggi_altri">Nome Giocatore</th>
                    <th>Nome Personaggio</th>
                    <th>Classi Civili</th>
                    <th>Classi Militari</th>
                    <th class="inizialmente-nascosto recupera_pagato_iscrizione">Pagato</th>
                    <th class="inizialmente-nascosto recupera_tipo_pagamento_iscrizione">Tipo Pagamento</th>
                    <th class="inizialmente-nascosto recupera_note_pagamento_iscrizione">Note</th>
                    <th class="inizialmente-nascosto stampaCartelliniPG">Azioni</th>
                </tr>
                </thead>
            </table>
        </form>
    </div>
</div>


{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/LiveEventsManager.js"></script>
{% endblock %}