{% extends "./templates/main_template.html" %}
{% set body_classes = body_classes + " gestione-giocatori-page" %}
{% set section = "gestionegiocatori" %}
{% set titolo_sezione = "Gestione Giocatori"  %}
{% set descrizione_sezione = ""  %}
{% block mainContent %}
{{ super() }}
<!--------------------------
  | Your Page Content Here |
  -------------------------->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Tabella Personaggi</h3>

        <!--div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
            <i class="fa fa-times"></i>
          </button>
        </div-->
    </div>
    <div class="box-body">

        <div class="box-body">
            <table id="groglia_giocatori" class="table table-condensed table-hover table-striped table-bordered responsive" width="100%">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Nome Giocatore</th>
                    <th>Data Iscrizione</th>
                    <th>Ruolo</th>
                    <th>Note Giocatore</th>
                    <th>Note Staff</th>
                    <th>Azioni</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
    <!-- /.box-body -->
    <!--div class="box-footer" style="">
      Footer
    </div-->
    <!-- /.box-footer-->
</div>
{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/PlayersManager.js"></script>
{% endblock %}