{% extends "./templates/live_main_template.html" %}
{% from "./templates/components.html" import modal_assegna_punti, modal_assegna_punti_scripts, modal_modifica_credito, modal_modifica_credito_scripts %}
{% set titolo_sezione = "Netrunning Software" %}
{% set section = "live_netrunner" %}
{% block styles %}
<link rel="stylesheet" href="../node_modules/jquery.terminal/css/jquery.terminal.css"/>

{% endblock %}
{% block mainContent %}
{{ super() }}
<!--------------------------
  | Your Page Content Here |
  -------------------------->
  <div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <span class="sgc-info2">SGC</span> SIMULATOR</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="tv">
                    <div id="terminal"></div>
                    <div class="scanlines"></div>
                </div>
            </div>
            <!-- ./box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


{% endblock %}


{% block managers %}
{{ super() }}
<script src="scripts/utils/keyboard.js"></script>
<script src="../node_modules/jquery.terminal/js/jquery.terminal.js"></script>
<script src="scripts/utils/Testi.js"></script>
<script src="scripts/controllers/CraftingSoftwareManager.js"></script>
{% endblock %}