{% extends "./templates/layout_template.html" %}
{% set html_classes = "" %}
{% set body_classes = body_classes + " register-page password-recover-page" %}
{% set section = "recuperopassword" %}
{% block content %}
{{ super() }}
  <div class="register-box">
    <div class="register-logo">
      <b>Reboot</b> Live
    </div>

    <div id="formRegistrazione" class="register-box-body">
      <p class="login-box-msg">Recupera Passowrd</p>

      <div class="form-group has-feedback">
        <input type="email" class="form-control" name="mail" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button id="btn_recupero" type="submit" class="btn btn-primary btn-block btn-flat submit-btn">Recupera</button>
        </div>
        <!-- /.col -->
      </div>

      <a href="index.html" class="text-center">Torna alla pagina di login.</a>
    </div>
    <!-- /.form-box -->
  </div>
{% endblock %}
{% block managers %}
{{ super() }}
<script src="scripts/controllers/PwdRecoverManager.js"></script>
{% endblock %}