{% macro modal_assegna_punti(extra_classes='') %}
<div id="modal_assegna_punti" class="modal fade {{extra_classes}}" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dialog-header-primary">
                <button data-dismiss="modal" class="close" type="button">×<span class="sr-only">Chiudi</span></button>
                <h4 class="modal-title text-primary">Assegna Punti</h4>
            </div>
            <div class="modal-body">
                <p>Assegna o rimuovi punti esperienza e/o punti combattimento ai seguenti personaggi:<br><span class="nomi_pg" id="nome_personaggi"></span></p>
                <form autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Punti Esperienza</h4>
                            <input type="number" step="1" id="offset_px" name="offset_px" class="form-control" value="0">
                            <div class="btn-group pull-center under-element out-of-box pulsantiera-mobile inizialmente-nascosto" id="pulsanti_px">
                                <button type="button" class="btn btn-info meno10">-10</button>
                                <button type="button" class="btn btn-info meno1">-1</button>
                                <button type="button" class="btn btn-info piu1">+1</button>
                                <button type="button" class="btn btn-info piu10">+10</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Punti Combattimento</h4>
                            <input type="number" step="1" id="offset_pc" name="offset_pc" class="form-control" value="0">
                            <div class="btn-group pull-center under-element out-of-box pulsantiera-mobile inizialmente-nascosto" id="pulsanti_pc">
                                <button type="button" class="btn btn-info meno10">-10</button>
                                <button type="button" class="btn btn-info meno1">-1</button>
                                <button type="button" class="btn btn-info piu1">+1</button>
                                <button type="button" class="btn btn-info piu10">+10</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success submit-btn" data-dismiss="modal" id="btn_assegna">Assegna</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
{% macro modal_assegna_punti_scripts() %}
<script src="scripts/models/PulsantieraNumerica.js"></script>
<script src="scripts/models/PointsManager.js"></script>
{% endmacro %}
{% macro modal_modifica_credito(extra_classes='') %}
<div id="modal_modifica_credito" class="modal fade {{extra_classes}}" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dialog-header-primary">
                <button data-dismiss="modal" class="close" type="button">×<span class="sr-only">Chiudi</span></button>
                <h4 class="modal-title text-primary">Assegna Crediti</h4>
            </div>
            <div class="modal-body">
                <p>Assegna o rimuovi crediti ai seguenti personaggi:<br><span class="nomi_pg" id="nome_personaggi"></span></p>
                <form autocomplete="off" aria-autocomplete="none">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="number" step="1" id="offset_crediti" name="offset_crediti" class="form-control" value="0">
                            <div class="btn-group pull-center under-element out-of-box pulsantiera-mobile inizialmente-nascosto" id="pulsanti_credito">
                                <button type="button" class="btn btn-info meno10">-10</button>
                                <button type="button" class="btn btn-info meno1">-1</button>
                                <button type="button" class="btn btn-info piu1">+1</button>
                                <button type="button" class="btn btn-info piu10">+10</button>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success submit-btn" data-dismiss="modal" id="btn_modifica">Assegna</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
{% macro modal_modifica_credito_scripts() %}
<script src="scripts/models/PulsantieraNumerica.js"></script>
<script src="scripts/models/CreditManager.js"></script>
{% endmacro %}

{% macro layout_evento(suffisso_id='',extra_classes='') %}
{% if suffisso_id != '' %}
{% set suf = "_"+suffisso_id %}
{% endif %}
<div id="info_prossimo_evento" class="{{extra_classes}}">
    <h1 id="titolo_evento{{suf}}" class="titolo_evento"></h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary info_base" id="info_base{{suf}}">
                <div class="box-header with-border">
                    <h3 class="box-title">Informazioni Base</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <td>Data Inizio</td>
                            <td><a id="data_inizio_evento{{suf}}"></a></td>
                        </tr>
                        <tr>
                            <td>Orario Inizio</td>
                            <td><a id="ora_inizio_evento{{suf}}"></a></td>
                        </tr>
                        <tr>
                            <td>Data Fine</td>
                            <td><a id="data_fine_evento{{suf}}"></a></td>
                        </tr>
                        <tr>
                            <td>Orario Fine</td>
                            <td><a id="ora_fine_evento{{suf}}"></a></td>
                        </tr>
                        <tr>
                            <td>Costo Regolare</td>
                            <td><a id="costo_evento{{suf}}"></a></td>
                        </tr>
                        <tr>
                            <td>Costo Ritardatari</td>
                            <td><a id="costo_maggiorato_evento{{suf}}"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-primary" id="event_info_box{{suf}}">
                <div class="box-header with-border">
                    <h3 class="box-title">Luogo</h3>
                </div>
                <div class="box-body">
                    <p id="luogo_evento{{suf}}"></p>
                    <div id="map{{suf}}" class="mappa-evento"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary" id="dettagli_evento{{suf}}">
        <div class="box-header with-border">
            <h3 class="box-title">Dettagli evento</h3>
        </div>
        <div class="box-body table-responsive">
            <p id="note_evento{{suf}}"></p>
        </div>
        <div class="box-footer">
            <button id="iscrivi_pg" class="btn btn-success">Iscrivi un tuo personaggio</button>
        </div>
    </div>
</div>
{% endmacro %}
