<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html class="{{html_classes}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reboot Live GRV - Database</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-slider/slider.css"/>
    <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-timepicker/css/timepicker.css"/>
    <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css"/>
    <link rel="stylesheet" href="/bower_components/ion.rangeSlider/css/ion.rangeSlider.css"/>
    <link rel="stylesheet" href="/bower_components/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css"/>
    <link rel="stylesheet" href="/bower_components/morris.js/morris.css"/>
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.css"/>
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/bower_components/admin-lte/dist/css/AdminLTE.css"/>
    <!-- endbower -->
    <link rel="stylesheet" href="/bower_components/admin-lte/dist/css/skins/skin-black.css"/>
    <link rel="stylesheet" href="/bower_components/iCheck/skins/square/blue.css"/>
    <link rel="stylesheet" href="/bower_components/PACE/themes/blackblue/pace-theme-flat-top.css" type="text/html"/>
    <!-- endbuild -->
    <!-- build:css(dist) styles/main.css -->
    <link rel="stylesheet" href="styles/common_fonts.css" />
    <link rel="stylesheet" href="styles/skin_hud.css" />
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- build:css(dist) styles/{{section}}.css -->
    {% block styles %}
    {% endblock %}
    <!-- endbuild -->
    {% block headerScripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body class="{{ body_classes }}">

<video autoplay muted loop id="background_video">
    <source src="images/Futuristic.mp4" type="video/mp4">
</video>
<div class="bg"></div>
<div class="bg2"></div>

{% block content %}
{% endblock %}
{% block modals %}
<div id="errorDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dialog-header-error">
                <button data-dismiss="modal" class="close" type="button">×<span class="sr-only">Chiudi</span></button>
                <h4 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> ERRORE</h4>
            </div>
            <div class="modal-body text-danger">
                <p id="errorMsg"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
<div id="message" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dialog-header-primary">
                <button data-dismiss="modal" class="close" type="button">×<span class="sr-only">Chiudi</span></button>
                <h4 class="modal-title text-primary">MESSAGGIO</h4>
            </div>
            <div class="modal-body">
                <p id="messageText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
<div id="modal_loading" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header dialog-header-primary">
                <h4 class="modal-title text-primary">ATTENDERE...</h4>
            </div>
            <div class="modal-body">
                <p id="loadingText"></p>
                <div class="progress active">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="confirmWithPassword" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header dialog-header-primary">
                <button data-dismiss="modal" class="close" type="button">×<span class="sr-only">Chiudi</span></button>
                <h4 class="modal-title text-primary">CONFERMA OPERAZIONE</h4>
            </div>
            <div class="modal-body">
                <p id="confirm_text"></p>
                <div class="form-group">
                    <label>Inserisci la tua password per confermare l'operazione.</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        <input type="password" class="form-control" placeholder="La tua password" id="confirm_password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning submit-btn" id="confirm_button">Conferma</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bowerScripts %}
<!-- REQUIRED JS SCRIPTS -->
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/iCheck/icheck.js"></script>
<script src="/bower_components/popper.js/dist/umd/popper.js"></script>
<script src="/bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.js"></script>
<script src="/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
<script src="/bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
<script src="/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/bower_components/datatables.net-plugins/dataRender/ellipsis.js"></script>
<script src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/jquery-knob/js/jquery.knob.js"></script>
<script src="/bower_components/PACE/pace.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="/bower_components/tether/dist/js/tether.js"></script>
<!-- endbower -->
<script src="/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/admin-lte/dist/js/adminlte.min.js"></script>
{% endblock %}
<!-- endbuild -->
<!-- build:js(.tmp) scripts/common.js -->
<script src="scripts/utils/Constants.js"></script>
<script src="scripts/utils/Utils.js"></script>
<script src="scripts/controllers/AdminLTEManager.js"></script>
<!-- endbuild -->

{% block externalScripts %}
{% endblock %}

<!-- build:js(.tmp) scripts/{{ section }}-main.js -->
{% block managers %}
{% endblock %}
<!-- endbuild -->
<!-- build:js(.tmp) scripts/ckgrnts.js -->
<script src="scripts/utils/CheckGrants.js"></script>
<!-- endbuild -->
</body>
</html>
