{% extends "./layout_template.html" %}
{% set body_classes = "hold-transition skin-black fixed sidebar-mini" + body_classes %}
{% set add_wrapper = add_wrapper | default(true) %}
{% block content %}

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <a id="logo_link" class="logo">
            <span class="logo-mini">
                <b>SGC</b>UI</span>
            <span class="logo-lg">
                <b>SGC</b> UI</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- &lt;!&ndash; Messages: style can be found in dropdown.less&ndash;&gt;
                     <li class="dropdown messages-menu">
                         &lt;!&ndash; Menu toggle button &ndash;&gt;
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="fa fa-envelope-o"></i>
                             <span class="label label-success">4</span>
                         </a>
                         <ul class="dropdown-menu">
                             <li class="header">You have 4 messages</li>
                             <li>
                                 &lt;!&ndash; inner menu: contains the messages &ndash;&gt;
                                 <ul class="menu">
                                     <li>
                                         &lt;!&ndash; start message &ndash;&gt;
                                         <a href="#">
                                             <div class="pull-left">
                                                 &lt;!&ndash; User Image &ndash;&gt;
                                                 <img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                             </div>
                                             &lt;!&ndash; Message title and timestamp &ndash;&gt;
                                             <h4>
                                                 Support Team
                                                 <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                             </h4>
                                             &lt;!&ndash; The message &ndash;&gt;
                                             <p>Why not buy a new awesome theme?</p>
                                         </a>
                                     </li>
                                     &lt;!&ndash; end message &ndash;&gt;
                                 </ul>
                                 &lt;!&ndash; /.menu &ndash;&gt;
                             </li>
                             <li class="footer"><a href="#">See All Messages</a></li>
                         </ul>
                     </li>
                     &lt;!&ndash; /.messages-menu &ndash;&gt;
                     &lt;!&ndash; Notifications Menu &ndash;&gt;
                     <li class="dropdown notifications-menu">
                         &lt;!&ndash; Menu toggle button &ndash;&gt;
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="fa fa-bell-o"></i>
                             <span class="label label-warning">10</span>
                         </a>
                         <ul class="dropdown-menu">
                             <li class="header">You have 10 notifications</li>
                             <li>
                                 &lt;!&ndash; Inner Menu: contains the notifications &ndash;&gt;
                                 <ul class="menu">
                                     <li>
                                         &lt;!&ndash; start notification &ndash;&gt;
                                         <a href="#">
                                             <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                         </a>
                                     </li>
                                     &lt;!&ndash; end notification &ndash;&gt;
                                 </ul>
                             </li>
                             <li class="footer"><a href="#">View all</a></li>
                         </ul>
                     </li>
                     &lt;!&ndash; Tasks Menu &ndash;&gt;
                     <li class="dropdown tasks-menu">
                         &lt;!&ndash; Menu Toggle Button &ndash;&gt;
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <i class="fa fa-flag-o"></i>
                             <span class="label label-danger">9</span>
                         </a>
                         <ul class="dropdown-menu">
                             <li class="header">You have 9 tasks</li>
                             <li>
                                 &lt;!&ndash; Inner menu: contains the tasks &ndash;&gt;
                                 <ul class="menu">
                                     <li>
                                         &lt;!&ndash; Task item &ndash;&gt;
                                         <a href="#">
                                             &lt;!&ndash; Task title and progress text &ndash;&gt;
                                             <h3>
                                                 Design some buttons
                                                 <small class="pull-right">20%</small>
                                             </h3>
                                             &lt;!&ndash; The progress bar &ndash;&gt;
                                             <div class="progress xs">
                                                 &lt;!&ndash; Change the css width attribute to simulate progress &ndash;&gt;
                                                 <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                      role="progressbar"
                                                      aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                     <span class="sr-only">20% Complete</span>
                                                 </div>
                                             </div>
                                         </a>
                                     </li>
                                     &lt;!&ndash; end task item &ndash;&gt;
                                 </ul>
                             </li>
                             <li class="footer">
                                 <a href="#">View all tasks</a>
                             </li>
                         </ul>
                     </li>-->
                    <!-- User Account Menu -->
                    <li class="user user-menu">
                        <span class=" sgc-info">&raquo; AUTHORIZED</span>
                        <a id="btn_visualizza_pagina_profilo" class="nome_giocatore"></a>
                        </a>
                        <div class="pull-right">
                            <a href="#" id="logoutBtn" class="btn btn-default btn-flat"> &raquo; LOGOUT &laquo;</a>
                        </div>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <!--li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li-->
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="images/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info" id="nome_personaggio">
                    <p>USER NOT LOGGED</p>
                    <!-- Status -->
                    <i class="fa fa-circle text-danger"></i><span id="pg_status"> Offline</span>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form" id="sidebar-form">
                <div class="input-group">
                    <input type="text" id="search-input" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
              </button>
            </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Operazioni</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="visualizza_pagina_main inizialmente-nascosto {% if section === 'listapg' %}active{% endif %}">
                    <a href="main.html"><i class="fa fa-user-secret"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Personaggi</span></a></li>
                <li {% if section === 'messaggi' %}class="active"{% endif %}>
                    <a href="messaggi.html"><i class="fa fa-envelope-o" ></i> <span class="sgc-info">//USEC/SGC/</span> <span>Messaggi</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-blue" id="num_mex_fg" data-toggle="tooltip" data-title="F.G.">0</small>
                            <small class="label pull-right bg-green inizialmente-nascosto" id="num_mex_ig" data-toggle="tooltip" data-title="I.G.">0</small>
                        </span>
                    </a>
                </li>
                <li id="btn_visualizza_pagina_gestione_eventi" class="inizialmente-nascosto {% if section === 'gestioneventi' %}active{% endif %}">
                    <a href="eventi.html"><i class="fa fa-rocket"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Eventi Live</span></a></li>
                <li id="btn_visualizza_pagina_notizie" class="inizialmente-nascosto {% if section === 'news' %}active{% endif %}">
                    <a href="notizie.html"><i class="fa fa-newspaper-o"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Canali RAVNet</span></a></li>
                <li id="btn_visualizza_pagina_gestione_giocatori" class="inizialmente-nascosto {% if section === 'gestionegiocatori' %}active{% endif %}">
                    <a href="gestione_giocatori.html"><i class="fa fa-group"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Gestisci Giocatori</span></a></li>
                <li id="btn_visualizza_pagina_gestione_ricette" class="inizialmente-nascosto {% if section === 'gestionericette' %}active{% endif %}">
                    <a href="gestione_ricette.html"><i class="fa fa-cubes"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Gestisci Ricette</span></a></li>
                <li id="btn_visualizza_pagina_mercato" class="inizialmente-nascosto {% if section === 'mercato' %}active{% endif %}">
                    <a href="mercato.html"><i class="fa fa-tags"></i> <span class="sgc-info">//USEC/SGC/</span> <span>RavShop</span></a></li>
                <li id="btn_visualizza_pagina_banca" class="inizialmente-nascosto {% if section === 'banca' %}active{% endif %}">
                    <a href="banca.html"><i class="fa fa-bank"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Banca</span></a></li>
                <li id="btn_visualizza_pagina_crafting_chimico" class="inizialmente-nascosto {% if section === 'craftingchimico' %}active{% endif %}"><a href="crafting_chimico.html"><i class="fa fa-flask"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Crafting Chimico</span></a></li>
                <li id="btn_visualizza_pagina_crafting_programmazione" class="inizialmente-nascosto {% if section === 'craftingprog' %}active{% endif %}"><a href="crafting_programmazione.html"><i class="fa fa-qrcode"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Crafting Programmi</span></a></li>
                <li id="btn_visualizza_pagina_crafting_ingegneria" class="inizialmente-nascosto {% if section === 'craftinging' %}active{% endif %}"><a href="crafting_ingegneria.html"><i class="fa fa-wrench"></i> <span class="sgc-info">//USEC/SGC/</span> <span>Crafting Tecnico</span></a></li>
                <!--li class="treeview"><a href="#"><i class="fa fa-flask"></i> <span>Crafting</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span></a>
                    <ul class="treeview-menu">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li-->
                <!--<li class="treeview">
                  <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                  </ul>
                </li>-->
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% if add_wrapper %}
        {% if titolo_sezione %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ titolo_sezione }}
                <small>{{ descrizione_sezione }}</small>
            </h1>
            <!--<ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
              <li class="active">Here</li>
            </ol>-->
        </section>
        {% endif %}

        <!-- Main content -->
        <section class="content container-fluid">
        {% endif %}
            {% block mainContent %}
            {% endblock %}
        {% if add_wrapper %}
        </section>
        {% endif %}
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Reboot Live Database v{{version}}
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017.</strong> Tutti i diritti riservati.
    </footer>
</div>
{% endblock %}
